button {
  border-radius: 5px;
  background-color: aliceblue;
  color: gray;
  border: none;
  box-shadow: 0.5px 0.5px gray;
  padding: 1.1%;
}

button:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.button-large {
  height: 7vh;
  width: 10%;
  font-size: 80%;
}
