* {
  box-sizing: border-box;
}


@media only screen and (min-width: 1280px) {
  .Header {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .Header .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .Header .col {
    width: 33%;
  }
  .Header .col h1 {
    font-size: 14px;
  }
  .Header .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .Header .col {
      width: 50%;
    }
    .Header .col h1 {
      font-size: 14px;
    }
    .Header .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .Header .col {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  
}