.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding: 1% 18%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8f4f8;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hamburger {
  border: solid;
  height: 8vh;
  width: 6%;
  line-height: 70%;
  padding: 1%;
}

nav {
  height: 100vh;
  z-index: 1;
  top: 0;
  right: 0;
  width: 0;
  position: fixed;
  transition: width 1s;
  background-color: gray;
  align-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

nav p {
  transition: 0.3s;
  margin: 0 auto;
  width: 0;
  text-decoration: none;
  color: aliceblue;
}

nav p:hover {
  color: #61dafb;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer p {
  grid-row: 3;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 1rem;
  /* background: deepskyblue; */
  border-radius: 8px;
  border: 4px solid white;
  font-weight: bold;
}

.footer h4 {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: right;
  padding: 1rem;
  /* background: deepskyblue; */
  border-radius: 8px;
  border: 4px solid white;
  font-weight: bold;
}
