.recipeCard {
  /* height: 200px; */
  margin-bottom: 20px;
  width: 500px;
  padding: 6% 2%;
  padding-top: 4%;
  background-color: whitesmoke;
  box-shadow: 2px 1px 2px 1px rgba(128, 128, 128, 0.386);
  color: #5a5a5a;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.card-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-picture {
  height: 150px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.16);
}

.bold {
  font-weight: 600;
}

.cardSpan {
  border: 1px solid #bbdefd;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cardSpan p {
  font-weight: 600;
  margin: 7px auto;
  border-bottom: 1px solid #bbdefd;
  width: fit-content;
}

.spanContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.recipeName {
  margin: 0 auto;
  border-bottom: 1px solid #bbdefd;
  margin-bottom: 20px;
}
.step-list {
  padding: 0% 10%;
  width: 60%;
}

.ingredient-list {
  padding: 0% 5%;
  width: 40%;
}

ul {
  padding-left: 20px;
  padding-right: 0;
}

ol {
  padding-left: 20px;
}

li {
  text-align: left;
}

.delete {
  height: 20px;
  width: 20px;
  background-image: url("../../images/trash.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
