
* {
  box-sizing: border-box;
}

.recipeCard {
  /* height: 200px; */
  margin-bottom: 20px;
  width: 350px;
  padding: 6% 2%;
  padding-top: 4%;
  background-color: whitesmoke;
  box-shadow: 2px 1px 2px 1px rgba(128, 128, 128, 0.386);
  color: #5a5a5a;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.card-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-picture {
  height: 150px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.16);
}

.bold {
  font-weight: 600;
}

.likeButton{
  border: 1px solid #bbdefd;
  background: white;
  margin-top: 5px;
  padding: 0%;
  width: 50px;
  margin: 5px auto;
}

.likeButton:hover{
  background-color: aliceblue;
}

.cardSpan {
  border: 1px solid #bbdefd;
  width: 230px;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cardSpan p {
  font-weight: 600;
  margin: 7px auto;
  border-bottom: 1px solid #bbdefd;
  width: fit-content;
}

.spanContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.recipeName {
  margin: 0 auto;
  border-bottom: 1px solid #bbdefd;
  margin-bottom: 20px;
}
.step-list {
  padding: 0% 10%;
  width: 60%;
}

.ingredient-list {
  padding: 0% 5%;
  width: 40%;
}

ul {
  
  padding-left: 20px;
  padding-right: 0;
}

ol {
  padding-left: 20px;
}

li {
  text-align: left;
}

.delete {
  height: 20px;
  width: 20px;
  background-image: url("../../images/trash.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-right: 10px;
}

.edit {
  height: 20px;
  width: 20px;
  background-image: url("../../images/icons8-pencil-40.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}



@media only screen and (min-width: 1280px) {
  .recipeCard {
    width: 60%;
    /* margin: 0 auto; */
  }
}
@media only screen and (max-width: 1139px) {
  .recipeCard .social {
    width: 60px;
    display: block;
  }
  .recipeCard .social h1 {
    margin: 0px;
  }
}
 /* @media only screen and (max-width: 950px) {
  .recipeCard  {
    width: 90%;
  }
  .recipeCard .col h1 {
    font-size: 14px;
  }
  .recipeCard .col ul li {
    font-size: 13px;
  }
}  */
@media only screen and (max-width: 500px) {
    .recipeCard .col {
      width: 50%;
    }
    .recipeCard .col h1 {
      font-size: 14px;
    }
    .recipeCard .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .recipeCard {
    width: 100%;
  }
   .recipeCard {
    width: 243px;
  } 
  .spanrecipeCard {
    flex-direction: column;
  }
  .cardSpan {
    width: 100%;
    margin-bottom: 5px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  
}